/*table > thead > tr > th {
  text-align: center;
  font-weight: bold;
  background-color: #01A3A5;
  color:  #fffef8;
  border-color: 
}  */

.reportTable {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
}

.reportTable thead,
.reportTable th {
	font-weight: bold;
	background-color: #01A3A5;
  	color:  #fffef8;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.reportTable td {
	padding: 2px;
	font-size: 14px;
    text-align: center;
}

.reportTable th, .reportTable td {
	border: 1px solid #e7e7e7;
}

.btn-info {
	background-color: #01A3A5 !important;
}